a {
  text-decoration: none;
}

body {
  /* background-color: #2137b6; */
  background-color: #333;
}

.container-header {
  display: grid;
  place-content: center;
  background-color: #fff;
  padding: 3rem 0 1rem 0;
  padding-inline: 1rem;
}

.hr {
  background-color: #000;
}

.container-sidebar {
  border-top: 1px solid rgb(218, 218, 218);
  background-color: #fff;
  padding-bottom: 5rem;
  height: 70vh;
  padding-inline: 1rem;
  margin-top: 0;
}

.login-container {
  width: fit-content;
  padding: 10px;
}

.login-form {
  background-color: #fff;
  padding: 5rem;
  border-radius: 5px;
}

.side-link {
  display: block;
  background-color: #1eaedb;
  color: #fff;
  padding: 1rem;
  margin-block: 1px;
}

.side-link-secondary {
  background-color: #999;
}

.side-link:hover,
.side-link:focus {
  color: black;
}

.side-link-active {
  background-color: #2137b6;
}

.side-link-active:hover,
.side-link-active:focus {
  background-color: #1eaedb;
  color: #fff;
}
